@{
  Layout = "_Layout";
}
<div class="container">

  <h1>To Do List</h1>
  <h3>Add a new item:</h3>
  <form action="/items" method="post">
    <div class="form-group">
      <label for="new-item">Item Description</label>
      <input id="new-item" name="new-item" type="text">
    </div>
    <div class="form-group">
      <label for="new-category">Category:</label>
      <select name="new-category">
        <option value="1">Housework</option>
        <option value="2">Business</option>
        <option value="3">Personal</option>
      </select>
    </div>
    <button class="btn btn-success" type="submit">Add item</button>
  </form>
</div>
